/* .nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100vw;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    background: white;
}

.nav .project-icon {
    height: 1.5rem;
    margin-right: 1rem;
}

.nav .logo {
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-width: 0 1px 0 0;
    padding-right: 1.5rem;
}

.nav .name {
    margin-left: 1.5rem;
    margin-bottom: -5px;
}

.sidenav {
    min-height: 100%;
    background: white;
    padding: 6rem 2rem 2rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-width: 0 1px 0 0;
    overflow: auto;
} */
/* 
.sidenav .links {
    position: fixed;
    top: 6rem;
    height: calc(100vh - 8rem);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav .section,
.sidenav .chapter,
.sidenav .sub-chapter  {
    display: block;
    margin: .5rem 0;
    opacity: .85;
    font-size: 1.5rem;
}

.sidenav .section {
    font-weight: 700;
    border-width: 0 0 1px 0;
    padding: .5rem 0;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.sidenav .section:not(:first-child) {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border: 1px solid #96969659;
    border-width: 1px 0 0 0;
}

.sidenav .chapter,
.sidenav .sub-chapter {
    font-size: 1rem;
}

.sidenav .chapter {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    opacity: .5;
}

.sidenav .chapter.active {
    opacity: 1;
    padding-left: 1rem;
    margin-left: calc(-1rem - 4px);
    border-left: 10px solid #000000d1;
    border-width: 0 0 0 4px;
}

.sidenav .sub-chapter {
    margin-left: 1rem;
} */

// .nav {
//     display:none;
//     position: fixed;
//     left: 0;
//     top: 0;
//     height: 100vh; 
//     width: 300px;
//     box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
//     flex-direction: column;
//     background: white;
// }
body[data-align="left"] {
    .nav {
        box-shadow: -10px 0 10px -8px rgba(0, 0, 0, 0.25);
    }
}

.nav {
    height: 100vh;
    position: sticky;
    top: 0;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 10px 0 10px -8px rgba(0, 0, 0, 0.25);

    hr {
        background:black;
        height: 1px;
        margin: .5rem 0;
    }

    .align-button {
        width: 2rem;
        height: 2rem;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.219);
        padding: .4rem;
        background: white;
        margin-right: .25rem;
    }

    a {
        position: relative;

        &.title {
            font-size: 1rem;
            padding: 1rem 0;
            border-width: 0 0 1px 0;
            font-weight: 700;
        }

        &.section {
            padding-top: .75em;
            padding-bottom: .25rem;
            font-size: 1.15rem;
            text-transform: uppercase;
        }

        &.chapter {
            padding: .25em 0;
            padding-left: 1rem;
            font-weight: 700;
            // text-transform: uppercase;
            opacity: .95;
        }

        &.sub-chapter {
            padding: .25em 0;
            padding-left: 2rem;
        }
    }
}

